@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.map-details{
    width: 50vw;
    height: 65vh;
}
.address{
    padding: 20px;
    margin: 10px;
    box-shadow: 7px 7px 7px 7px rgb(219, 219, 219);
    border-radius: 25px;

}

.donation{
padding: 15px;
margin: 10px;
padding-top: 30px;
box-shadow: 7px 7px 7px 7px  rgb(235, 234, 234);
border-radius: 25px;

}

.allergies{
    display: inline-block;
    margin: 10px;
}

.haha{
   padding: 10px;
}

.head1{
  font-family: 'Lato', sans-serif;
  color: rgb(255, 98, 0);
  margin-bottom: 20px;
}
.address-tag{
    display: inline-block;
    margin-right: 90%;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.donateBtn{
    background-color: rgb(135, 170, 107);
    border: rgb(135, 170, 107);
    width: 360px;
}

.donateBtn:hover{
    background-color: rgb(107, 136, 84);
    border: rgb(135, 170, 107);
    width: 360px;
}


.file-images-div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin: 0 auto;
    grid-gap: 5px;
}

.single-file-div {
    display: grid;
    width: 100%;
    grid-template-rows: 1.5fr 1fr;
    grid-gap: 5px;
}

.file-img {
    width: 100px;
}
