#foody{
    border-radius: 25px;
}

.elementor-118 .elementor-element.elementor-element-3844e4d:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-118 .elementor-element.elementor-element-3844e4d > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color: #eccfbb;
    border-radius: 25px;
}

.elementor-118 .elementor-element.elementor-element-033e166:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-118 .elementor-element.elementor-element-033e166 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color: #95ba9d;
    border-radius: 25px;
}