.heart {
    color: #eb5e28;
    animation: heathing 1s ease infinite;
  }

  @keyframes heathing {
    0% {
      transform: scale(0.75);
    }
    20% {
      transform: scale(1);
    }
    40% {
      transform: scale(0.75);
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(0.75);
    }
    100% {
      transform: scale(0.75);
    }
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(250, 250, 250);
    color: #a49e9e;
    font-size: .9em;
    font-family: montserrat,helvetica,Arial,sans-serif;
    font-weight:600;
    text-align: center;
 }

 .pfooter{
  margin-top: 10px;
  margin-bottom: 10px;
 }