.food-details-container {
    border: 2px solid red;
    width: 80%;
    height: 700px;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.food-details-container > div {
    border: 2px solid green;

}


.food-details-text  {
    grid-area: 1 / 2 / span 2 / 2;
}

.food-details-img {
    width: 460px;
}

.map-img {
    width: 620px;
}