.food-details-container {
    border: 2px solid red;
    width: 80%;
    /* height: 700px; */
    height: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.food-details-container > div {
    border: 2px solid green;

}


.food-details-text  {
    grid-area: 1 / 2 / span 2 / 2;
}

.food-details-img {
    width: 460px;
}

.map-img {
    width: 620px;
}


.food-image-carousel {
    /* width:100%; */
    height: 100%;
    margin: auto;
  }

.carousel-item {
    width:100%;
    height: 100%;
}

.wd-100{
    /* width: 100px; */
    color: red;
}