.predictions-lis{
    display: flex;
    flex-direction: row;
}
.locations:hover{
    background-color: rgb(135, 170, 107);
    color: white;
}
.search{
    width: 70%;
    padding: 15px;
    border-radius: 25px;
    border: .5px rgb(181, 181, 181) solid;
    margin: 5px;
}

.search:hover{
    width: 70%;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgb(212, 215, 211);
    margin: 5px;
}