.left-row{
    background-image: url('https://cf.ltkcdn.net/charity/images/orig/266622-1600x1030-guide-giving-food-donations.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
}
.right-row{
    /* padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    width: 49%;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 15px rgb(219, 219, 219);
    margin-left: 20px; */

    padding: 40px 30px;
    width: 49%;
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-left: 60px;
    text-align: left;
}
.container{
    margin-top: 60px;
}

.form-control{
    line-height: 2;
}
.signup{
    color: rgb(236, 93, 41);
}

.submit-button{
    background-color: rgb(135, 170, 107);
    border: none;
    width: 100%;
}
.submit-button:disabled{
    background-color: rgba(144, 172, 122, 0.616);
}

.submit-button:hover{
    background-color: rgb(88 111 69);
}

.radio-group-container{
    display: flex;
    /* justify-content: start; */
    align-items: flex-start;
    flex-direction: column;
}

.radio-group-container> p{
    text-align: left;
    font-size: 14px;
    color: rgb(236, 93, 41);
}

.form-text{
    text-align: left;
}
