.left-row{
    background-image: url('https://cf.ltkcdn.net/charity/images/orig/266622-1600x1030-guide-giving-food-donations.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
}
.right-row{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    width: 49%;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 15px rgb(219, 219, 219);
    margin-left: 20px;
}
.container{
    margin-top: 5% ;
}

.form-control{
    line-height: 2;
}
.signup{
    color: rgb(236, 93, 41);
}